---
http_interactions:
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/airquality?city=Paris
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - vlgex0ir6Q0Tzdomx2Ax/w==ACxlxh2Ejz74o9bI
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - bc27723f-b2c2-4ec6-b838-544c6a6fe25e
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - JS9ZbHmkPHcFmGw=
    body:
      encoding: UTF-8
      string: '{"CO": {"concentration": 220.3, "aqi": 2}, "NO2": {"concentration":
        3.77, "aqi": 4}, "O3": {"concentration": 70.1, "aqi": 84}, "SO2": {"concentration":
        2.47, "aqi": 3}, "PM2.5": {"concentration": 2.74, "aqi": 8}, "PM10": {"concentration":
        3.69, "aqi": 3}, "overall_aqi": 84}'
  recorded_at: Mon, 07 Aug 2023 15:36:16 GMT
recorded_with: VCR 6.2.0
